:host {
  display: block;
}

:host(.inner) {
  opacity: 0;
  transition: transform var(--fade-in-speed, 0.4s) ease,
    opacity var(--fade-in-speed, 0.4s) ease;
}
:host(.animated) {
  opacity: 1;
}
:host(.up) {
  transform: translate(0, $spacer * 2);
}
:host(.right) {
  transform: translate(-$spacer * 2, 0);
}
:host(.left) {
  transform: translate($spacer * 2, 0);
}
:host(.down) {
  transform: translate(0, -$spacer * 2);
}
:host(.animated) {
  transform: translate(0, 0);
}
