fancy-name {
  display: inline-block;
  --fancy-name-size: 24px;
  --fancy-name-color: var(--app-text-color, #ccc);
  // clip-path: url(#svgPath);
  a {
    display: flex;
    color: var(--fancy-name-color);
    text-decoration: none;
    position: relative;
    border-radius: 73% 37% 40% 60% / 70% 67% 52% 43%;
    padding: 10px 15px 10px 8px;
    overflow: hidden;
    .inner {
      display: block;
      width: auto;
      min-width: 50%;
      transition: transform 0.3s ease 0.3s;
      mix-blend-mode: difference;
    }
    &:hover,
    &.link-active {
      .inner {
        transform: translate(0, 0);
        transition: transform 0.3s ease;
      }
      .divider {
        height: 100%;
        left: 0;
        width: 100%;
        transition: height 0.2s ease 0.2s, left 0.3s ease 0.5s,
          width 0.3s ease 0.5s;
      }
    }
  }
  .first {
    font-family: $title-font;
    padding: $spacer/2 0 $spacer/2 $spacer;
    font-size: var(--fancy-name-size);
    overflow: hidden;
    text-align: right;
    .inner {
      transform: translate(20%, 0);
    }
  }
  .divider {
    position: absolute;
    top: 50%;
    left: 56%;
    width: 2px;
    height: 50px;
    background: #f3d3e7;
    transform: translateY(-50%);
    transition: width 0.3s ease, left 0.3s ease, height 0.3s ease 0.3s;
  }
  .last {
    padding: $spacer/2 $spacer $spacer/2 0;
    padding: 5px;
    padding-left: 0;
    padding-right: 10px;
    overflow: hidden;
    .inner {
      transform: translate(-20%, 0);
    }
    svg {
      display: block;
      width: auto;
      height: calc(var(--fancy-name-size) * 1.5);
      fill: var(--fancy-name-color);
      margin: 0;
    }
  }
}
