fancy-name {
  display: inline-block;
  --fancy-name-height: 60px;
  --fancy-name-color: var(--app-text-color, #ccc);
  a {
    display: flex;
    color: var(--fancy-name-color);
    text-decoration: none;
    .inner {
      display: block;
      transition: transform 0.3s ease;
    }
    &:hover,
    &.link-active {
      .first {
        .inner {
          transform: skew(30deg) translateX(0px);
        }
      }
      .last {
        .inner {
          transform: skew(30deg) translateX(0px);
        }
      }
    }
  }
  .first {
    font-family: $title-font;
    padding: 5px;
    font-size: 34px;
    overflow: hidden;
    transform: skew(-30deg);
    .inner {
      transform: skew(30deg) translateX(14px);
    }
  }
  .divider {
    width: 0px;
    height: 74px;
    border-left: 2px solid c("light");
    transform: skew(-30deg);
  }
  .last {
    padding: 0px 20px 0 0;
    overflow: hidden;
    transform: skew(-30deg);
    .inner {
      transform: skew(30deg) translateX(-14px);
    }
    svg {
      justify-self: flex-end;
      display: block;
      width: auto;
      height: calc(var(--fancy-name-height) / 1.25);
      transform: translate(-6px, 16px);
      fill: var(--fancy-name-color);
    }
  }
}
