blog-list {
  display: block;
  .blog-list-grid {
    display: block;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 2fr 3fr 2fr;
      grid-template-rows: auto;
      grid-auto-rows: min-max(120px, auto);
      gap: $spacer * 2 $spacer * 2;
      grid-template-areas:
        "top-left top-left  top-right"
        "left middle top-right"
        "left  bottom-left bottom-right";
      margin-bottom: $spacer * 2;
    }
  }

  .blog-list-item {
    border-radius: var(--sc-border-radius);
    --sc-button-padding-x: #{$spacer};
    background-position: center;
    background-size: cover;
    margin-bottom: $spacer * 2;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    &:hover {
      --sc-button-bg-color: #{rgba(c("darkblue"), 0.4)};
      a,
      button {
        --sc-button-text-hover-color: var(--color-light);
      }
    }
    .button-inner,
    a,
    button {
      height: 100%;
      text-align: left;

      .blurb {
        font-size: 12px;
      }
    }
    &:nth-child(1) {
      grid-area: top-left;
    }
    &:nth-child(2) {
      grid-area: top-right;
    }
    &:nth-child(3) {
      grid-area: left;
    }
    &:nth-child(4) {
      grid-area: middle;
    }
    &:nth-child(5) {
      grid-area: bottom-left;
    }
    &:nth-child(6) {
      grid-area: bottom-right;
    }
  }
}
