// @import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&Open+Sans:wght@300;400&display=swap");
:root,
html {
  font-size: var(--base-font-size, 16px);
}

body {
  font-family: $body-font;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: $title-font;
  margin: 0;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}

h2 {
  color: c("light");
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  margin-bottom: $spacer;
  letter-spacing: 1px;
  a {
    text-decoration: none;
    position: relative;
    border-bottom: 1px dotted c("light");
    transition: border-color 0.3s ease-in-out;
    &:hover,
    &:focus {
      border-bottom-color: rgba(c("light"), 20%);
    }
  }
}

* {
  word-wrap: break-word;
}

h1 {
  font-size: 60px;
}

a {
  color: var(--sc-text-color);
}

@media (min-width: 576px) {
  :root,
  html {
    font-size: calc(16px + 0.6357vw);
  }
  h1 {
    font-size: 80px;
  }
  * {
    word-wrap: normal;
  }
}
