page-projects {
  display: block;
  .project {
    display: flex;
    align-items: flex-end;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
    justify-content: space-between;
    position: relative;
    .bg {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $title-font;
      font-size: 120px;
      opacity: 0.2;
      width: 50%;
      color: black;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .bg {
        text-align: right;
      }
      .card {
        margin-right: 0;
      }
      .text {
        margin-right: $spacer * 2;
      }
    }
    .card {
      flex-basis: 50%;
      margin-right: $spacer * 2;
      sc-card,
      sc-button {
        --sc-button-width: 100%;
        width: 100%;
        text-align: center;
        backdrop-filter: blur(4px);
        h2 {
          margin: 0;
          color: var(--sc-button-bg-color);
          -webkit-text-stroke: 1px var(--sc-button-text-color);
        }
      }
    }
    .text {
      flex-basis: 50%;
      h3 {
        color: c("light");
        font-size: 24px;
        margin-bottom: $spacer;
      }
      p {
        font-size: 14px;
        margin-bottom: $spacer / 2;
      }
    }
  }
}
