page-home {
  display: block;
  sc-card {
    &.speech-bubble {
      --sc-card-outer-padding-x: 16px;
      --sc-card-outer-padding-y: 12px;
      --sc-card-inner-padding-x: 0px;
      --sc-card-inner-padding-y: 0px;
      --bubble-bigger-radius: clamp(6px, 2vw, 40px);
      --bubble-small-radius: 2px;
      margin-bottom: 32px;
      width: auto;
      display: inline-block;
      max-width: 80%;
      backdrop-filter: blur(15px);

      &.right {
        margin-left: auto;
        --sc-card-bg-color: #{rgba(c("darkblue"), 0.5)};
        --sc-border-radius: var(--bubble-bigger-radius)
          var(--bubble-bigger-radius) var(--bubble-small-radius)
          var(--bubble-bigger-radius);
      }
      &.left {
        --sc-card-bg-color: #{rgba(c("blue"), 0.2)};
        --sc-border-radius: var(--bubble-bigger-radius)
          var(--bubble-bigger-radius) var(--bubble-bigger-radius)
          var(--bubble-small-radius);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 5px 0;
      }
      p {
        letter-spacing: 0;
      }
    }
  }

  .cd-logo {
    width: 120px;
    max-width: 80%;
  }
}
